<configuration>
	<system.web>
		<customErrors mode="off" />
		
	</system.web>
    <system.webServer>
	
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="index.php" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <staticContent>
            <mimeMap fileExtension=".upw" mimeType="application/x-zip-compressed" />
            <mimeMap fileExtension=".lst" mimeType="text/plain" />
        </staticContent>
        <handlers>
            <remove name="ASPClassic" />
            <add name="ASPClassic" path="*.asp" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" preCondition="bitness64" />
        </handlers>
	
    </system.webServer>
	
  <location path="download">
   <system.webServer>
    <directoryBrowse enabled="true" />
   </system.webServer>

  </location>

</configuration>



